# List

In [1]:
#example 1

In [ ]:
animals=['dog','cat','rabiit']

In [2]:
animals.append('lion')

In [3]:
print('updated animals list:',animals)

updated animals list: ['dog', 'cat', 'rabiit', 'lion']

In [ ]:
#example 2

In [4]:
vowels = ['a', 'e', 'i', 'o', 'i', 'u']

In [5]:
index = vowels.index('e')
print('The index of e:', index)

The index of e: 1

In [6]:
index = vowels.index('i')

In [7]:
print('The index of i:', index)

The index of i: 2

In [ ]:
#example 3

In [11]:
my_list = ['cat', 0, 6.7]

In [12]:
new_list = my_list.copy()

In [13]:
print('Copied List:', new_list)

Copied List: ['cat', 0, 6.7]

In [ ]:
#example 4

In [14]:
friends=['aakash','yash','omkar','arun']

In [15]:
friends.remove('arun')

In [16]:
print('updated friends list:',friends)

updated friends list: ['aakash', 'yash', 'omkar']

In [ ]:
#example 5

In [17]:
list = [{1, 2}, ('a'), ['1.1', '2.2']]

In [18]:
del list[:]

In [19]:
print('List:', list)

List: []

# Dictionary

In [ ]:
# example 1

In [20]:
person = {'name': 'Phill', 'age': 22, }

In [21]:
print('Before dictionary is updated')
keys = person.keys()
print(keys)

Before dictionary is updated
dict_keys(['name', 'age'])

In [22]:
person.update({'salary': 3500.0})
print('\nAfter dictionary is updated')
print(keys)

After dictionary is updated
dict_keys(['name', 'age', 'salary'])

In [ ]:
# example 2

In [23]:
person = {'name': 'Phill', 'age': 22}

In [24]:
print('Name: ', person.get('name'))
print('Age: ', person.get('age'))

Name:  Phill
Age:  22

In [27]:
print('Salary: ', person.get('salary'))

Salary:  None

In [29]:
print('Salary: ', person.get('salary', 100000))

Salary:  100000

In [ ]:
# example 3

In [30]:
sales = { 'apple': 2, 'orange': 3, 'grapes': 4 }

In [31]:
items = sales.items()
print('Original items:', items)

Original items: dict_items([('apple', 2), ('orange', 3), ('grapes', 4)])

In [32]:
del[sales['apple']]
print('Updated items:', items)

Updated items: dict_items([('orange', 3), ('grapes', 4)])

In [ ]:
# example 4

In [33]:
d = {1: "one", 2: "three"}
d1 = {2: "two"}

In [34]:
d.update(d1)
print(d)

{1: 'one', 2: 'two'}

In [35]:
d1 = {3: "three"}

In [36]:
d.update(d1)
print(d)

{1: 'one', 2: 'two', 3: 'three'}

In [ ]:
# example 5

In [37]:
sales = { 'apple': 2, 'orange': 3, 'grapes': 4 }

In [38]:
element = sales.pop('apple')
print('The popped element is:', element)
print('The dictionary is:', sales)

The popped element is: 2
The dictionary is: {'orange': 3, 'grapes': 4}

# Sets

In [ ]:
#example 1

In [39]:
my_set = {1, 2, 3}
print(my_set)

{1, 2, 3}

In [40]:
my_set = {1.0, "Hello", (1, 2, 3)}
print(my_set)

{1.0, (1, 2, 3), 'Hello'}

In [ ]:
#example 2

In [41]:
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

In [42]:
print(A | B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
#example 3

In [48]:
my_set = {1, 3, 4, 5, 6}
print(my_set)

{1, 3, 4, 5, 6}

In [49]:
my_set.discard(4)
print(my_set)

{1, 3, 5, 6}

In [50]:
my_set.remove(6)
print(my_set)

{1, 3, 5}

In [ ]:
#example 4

In [53]:
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

In [54]:
print(A & B)

{4, 5}

In [ ]:
#example 5

In [55]:
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

In [56]:
print(A - B)

{1, 2, 3}

# Tuple

In [ ]:
#example 1

In [57]:
my_tuple = ()
print(my_tuple)

()

In [58]:
my_tuple = (1, 2, 3)
print(my_tuple)

(1, 2, 3)

In [59]:
my_tuple = (1, "Hello", 3.4)
print(my_tuple)

(1, 'Hello', 3.4)

In [60]:
my_tuple = ("mouse", [8, 4, 6], (1, 2, 3))
print(my_tuple)

('mouse', [8, 4, 6], (1, 2, 3))

In [ ]:
#example 2

In [62]:
my_tuple = ("hello")
print(type(my_tuple))

<class 'str'>

In [63]:
my_tuple = ("hello",)
print(type(my_tuple))

<class 'tuple'>

In [64]:
my_tuple = "hello",
print(type(my_tuple))

<class 'tuple'>

In [ ]:
#example 3

In [65]:
my_tuple = 3, 4.6, "dog"
print(my_tuple)

(3, 4.6, 'dog')

In [66]:
a, b, c = my_tuple

In [67]:
print(a)      # 3
print(b)      # 4.6
print(c)      # dog

3
4.6
dog

# strings

In [ ]:
#example 1

In [68]:
my_string = 'Hello'
print(my_string)

Hello

In [69]:
my_string = 'Hello'
print(my_string)

Hello

In [70]:
my_string = 'Hello'
print(my_string)

Hello

In [71]:
my_string = """Hello, welcome to
           the world of Python"""
print(my_string)

Hello, welcome to
           the world of Python